@model IEnumerable<SeriesManager.Models.Show>

@{
    ViewBag.Title = "Shows";
}

<h2>Shows</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id=item.ShowID })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShowID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShowID })
        </td>
    </tr>
}

</table>
